<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Messengerin korvaaja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Chatti</title>
  </head>

  <body>
    <div class="logo-container">
      <h1 class="logo">Chatter</h1>
    </div>
    <div class="username-container" id="change_username">
      <label for="username" id="current_username" value="Anonymous">Anonymous</label>
      <input class="username-input" id="username" type="text" placeholder="Your username"/>
      <button class="username-submit" id="send_username" type="button">Set username</button>
    </div>
    <div class="feedback-container" id="feedback"></div>
    <div class="chatroom-container" id="chatroom"></div>
    <div class="message-container" id="input_zone">
      <input class="message-zone" id="message" type="text" placeholder="Write your message here"/>
      <button class="message-submit" id="send_message" type="button">Send message</button>
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script>
  </body>
</html>
