* {
  font-family: 'Poppins', sans-serif;
}

.logo-container {
  width: auto;
  height: auto;
}

.logo {
  text-align:center;
}

.username-container {
  text-align:center;
  width: auto;
  height: auto;
  padding: 15px 0px 15px 0px;
}

.username-input {
  text-align:center;
}

.username-submit {
  text-align:center;
}

.feedback-container {
  height:5vh;
  width:70vh;
  max-width: 800px;
  margin-top:inherit;
  margin-bottom:inherit;
  margin-left:auto;
  margin-right:auto;
  padding: 2px 2px 2px 2px;
}

.chatroom-container {
  height:62vh;
  width:70vh;
  max-width: 800px;
  margin-top:inherit;
  margin-bottom:inherit;
  margin-left:auto;
  margin-right:auto;
  border: 3px inset black;
  padding: 2px 2px 2px 2px;
  overflow-y:scroll;
}

.message-container {
  height:auto;
  width:70vh;
  max-width: 800px;
  margin-top:inherit;
  margin-bottom:inherit;
  margin-left:auto;
  margin-right:auto;
  border: 3px inset black;
  padding: 2px 2px 2px 2px;
  align-items:center;
  justify-content:center;
}


.message-zone {
  width: 85.5%;
  padding: 1px 1px 1px 1px;
}

.message-submit {
  padding: 1px 1px 1px 1px;
}

p.message {
  margin: 0px;
  width: 100% - 2vh;
  height: 40px;
  font-size: 2vh;
  padding: 1vh;
}

.message:nth-child(even) {
  background-color: #81DAF5;
}

.message:nth-child(odd) {
  background-color: #81BEF7;
}
