<!DOCTYPE html>
<html lang="en" ng-app="jasmineResults">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css">
    <style>
        .status {
            width: 85px;
            padding: 7px;
            border-radius: 3px;
            text-align: center;
        }

        .failed .status {
            background-color: rgb(255, 87, 34);
        }

        .passed .status {
            background-color: rgb(76, 175, 80);
        }

        .pending .status {
            background-color: rgb(255, 255, 0);
        }


        /* stack traces */
        pre {
            margin:0;
        }

        .stack.highlight {
            background-color: yellow;
        }

    </style>
</head>
<body ng-controller="ResultsCtrl">

<div ng-cloak layout="column">
    <md-toolbar ng-class="{'md-warn': results.counts.failed}">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Results <small ng-if="runTime"> - executed in {{runTime}} ms</small></h2>
            <h6>
                <span ng-if="results.counts.passed">Passed: {{results.counts.passed}}</span>
                <br ng-if="results.counts.passed" />

                <span ng-if="results.counts.pending">Pending: {{results.counts.pending}}</span>
                <br ng-if="results.counts.pending" />

                <span ng-if="results.counts.failed">Failed: {{results.counts.failed}}</span>
            </h6>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-list>
            <md-list-item ng-class="result.status" ng-repeat="result in results.sequence" ng-click="showDetail(result)">
                <div layout="row" flex layout-padding>
                    <div flex="none">
                        <div class="status">{{result.status}}</div>
                    </div>
                    <div flex>
                        <span>{{result.prefix}}</span><strong>{{result.description}}</strong>
                        <div ng-if="result.pendingReason != ''">
                            <small>{{result.pendingReason}}</small>
                        </div>
                        <div ng-repeat="failure in result.failedExpectations" ng-show="failure.hasSuspectLine">
                            <small>
                                <span>{{failure.message}}</span>
                                <div ng-if="results.options.showSuspectLine">
                                    <pre>{{failure.suspectLine}}</pre>
                                </div>
                            </small>
                        </div>
                    </div>
                    <div flex="none" style="width: 100px">
                        <small>{{result.duration}} ms</small>
                    </div>
                </div>
                <md-divider inset></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>

<script>
    angular.module('jasmineResults', ['ngMaterial']).config(function ($mdThemingProvider) {
        $mdThemingProvider.theme('default').primaryPalette('green').accentPalette('yellow');
    }).controller('ResultsCtrl', function ($scope, $mdDialog, results) {

        var classes = {
            'passed': 'md-primary',
            'pending': 'md-accent',
            'failed': 'md-warn'
        };

        $scope.showDetail = function (item) {
            $scope.activeItem = item;
            $mdDialog.show({
                controller: function () {
                },
                scope: $scope.$new(false, $scope),
                templateUrl: 'dialog.html',
                parent: angular.element(document.body),
                clickOutsideToClose: true
            })
        };

        $scope.results = results;
        $scope.runTime = new Date(results.timer.jasmineDone) - new Date(results.timer.jasmineStart);

        $scope.getCssClass = function(item){
            return classes[item.status];
        };

    }).constant('results', {
    "options": {
        "writeReportEachSpec": true,
        "showSuspectLine": true,
        "highlightSuspectLine": true,
        "path": "/Users/anttiton/softwaretestingchat/testreport"
    },
    "timer": {
        "jasmineStart": "2022-06-03T10:24:33.186Z",
        "jasmineDone": "2022-06-03T10:24:33.654Z"
    },
    "counts": {
        "passed": 4
    },
    "sequence": [
        {
            "id": "spec1",
            "description": "server should change username",
            "fullName": "App server should change username",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "duration": null,
            "status": "passed",
            "stoped": "2022-06-03T10:24:33.326Z",
            "prefix": "App "
        },
        {
            "id": "spec2",
            "description": "server should send and save message",
            "fullName": "App server should send and save message",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "duration": null,
            "status": "passed",
            "stoped": "2022-06-03T10:24:33.436Z",
            "prefix": "App "
        },
        {
            "id": "spec0",
            "description": "client should connect to server",
            "fullName": "App client should connect to server",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "duration": null,
            "status": "passed",
            "stoped": "2022-06-03T10:24:33.541Z",
            "prefix": "App "
        },
        {
            "id": "spec3",
            "description": "server should emit typing",
            "fullName": "App server should emit typing",
            "failedExpectations": [],
            "passedExpectations": [
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                },
                {
                    "matcherName": "toBe",
                    "message": "Passed.",
                    "stack": "",
                    "passed": true
                }
            ],
            "deprecationWarnings": [],
            "pendingReason": "",
            "duration": null,
            "status": "passed",
            "stoped": "2022-06-03T10:24:33.651Z",
            "prefix": "App "
        }
    ]
});
</script>

<script type="text/ng-template" id="dialog.html">
    <md-dialog aria-label="" flex="90">
        <md-toolbar ng-class="getCssClass(activeItem)">
            <div layout="row" layout-padding class="md-toolbar-tools">
                <div flex="none">
                    <h1>Test Information:</h1>
                </div>
                <div flex>
                    <small>
                        <span>{{ activeItem.prefix }}</span>
                        <strong>{{ activeItem.description }}</strong>
                    </small>
                </div>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-subheader ng-if="activeItem.failedExpectations.length > 0">Stack Traces</md-subheader>
            <md-content>
                <div flex layout="column" layout-padding ng-repeat="failure in activeItem.failedExpectations">
                    <div flex>
                        <p>{{failure.message}}</p>
                        <small>
                            <pre class="stack" ng-class="{'highlight': (results.options.highlightSuspectLine && line === failure.suspectLine) }" ng-repeat="line in failure.stack.split('\n')">{{line}}</pre>
                        </small>
                    </div>
                </div>
            </md-content>
            <md-subheader ng-if="activeItem.passedExpectations.length > 0">Passed Expectations</md-subheader>
            <pre ng-repeat="pass in activeItem.passedExpectations">{{pass | json}}</pre>
        </md-dialog-content>
    </md-dialog>
</script>

</body>
</html>